In [8]:
%load_ext autoreload
%autoreload 2

In [9]:
import pandas as pd

In [10]:
df=pd.read_csv('SMBH_Data_01_22_24.csv',header=1)

In [11]:
# make a list of columns that contains string data
str_cols = [col for col in df.columns if df[col].dtype == object]

str_cols

['Galaxy',
 'Morphology',
 'Type',
 'Leda Type',
 'T-type',
 'T-type_std',
 'brief',
 'brief_std',
 'ube',
 'bve',
 'mg2',
 'mg2_std',
 'bri25',
 'm21c',
 'm21c_std',
 'GJC23 Type',
 'GJC23 Dust']

In [12]:
white_list=['Galaxy','Morphology','Type','Leda Type','GJC23 Type','GJC23 Dust']

In [13]:
# for any column in df, except white list columns that contains string, convert it to float. If empty string, convert it to NaN
for col in df.columns:
    if col not in white_list:
        df[col] = pd.to_numeric(df[col], errors='coerce')

df

,ID,Galaxy,ra,dec,RA_deg,DEC_deg,Morphology,Type,ETG,Leda Type,...,GJC23W2-W3,GJC23W2-W3_std,"GJC23log(M*,gal/M_sun)","GJC23log(M*,gal/M_sun)_std",GJC23SFR,GJC23SFR_std,GJC23log(SFR),GJC23log(SFR)_std,GJC23log(sSFR),GJC23log(sSFR)_std
0,1,A1836 BCG,210.424583,-11.606750,210.424443,-11.606749,E,ETG,1,E-S0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,IC 1459,344.294167,-36.462222,344.294181,-36.462210,E,ETG,1,E,...,0.39,0.06,11.24,0.08,0.1724,0.0262,-0.763463,0.066001,-12.003463,0.103712
2,3,IC 1481,349.854583,5.906194,349.854583,5.906194,E? (merger),ETG,1,Sd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,IC 4296,204.162917,-33.965833,204.162919,-33.965821,E,ETG,1,E,...,0.02,0.08,11.47,0.08,0.0994,0.0181,-1.002614,0.079082,-12.472614,0.112490
4,5,Mrk 1216,127.196250,-6.940139,127.196338,-6.940147,S0,ETG,1,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,141,NGC 6323,258.325417,43.782500,258.325326,43.782504,SBab,LTG,0,SBab,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,142,NGC 6926,308.275417,-2.027472,308.275505,-2.027461,SBc,LTG,0,Sc,...,3.79,0.04,11.08,0.08,19.2827,2.9770,1.285168,0.067049,-9.794832,0.104382
142,143,NGC 7582,349.596250,-42.369667,349.596245,-42.369667,SBab,LTG,0,SBab,...,3.29,0.04,10.59,0.08,8.9545,1.0156,0.952041,0.049257,-9.637959,0.093948
143,144,UGC 3789,109.878750,59.355111,109.878708,59.355111,SABa,LTG,0,SABa,...,3.22,0.04,10.51,0.08,2.0713,0.2073,0.316243,0.043465,-10.193757,0.091045
144,145,UGC 6093,165.200000,10.728194,165.199843,10.728195,SBbc,LTG,0,Sbc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.to_csv('SMBH_Data_01_22_24_purged.csv',index=False)

In [17]:
low_scatter_para=['ETG','T-type','Bar', 'Disk', 'Ring', 'Core', 'Multiple', 'Compactness', 'AGN',
       'Pseudobulge', 'BCG', 'cD','M*_sph', 'M*_gal', 'log_B/T',
       'log_sigma0', 'log_R_e_sph_maj','log_R_e_sph_eq_kpc', 'log_n_sph_maj', 'log_n_sph_eq', 'log(I_e,sph,maj/M_Sun/pc^2)',
       'log(I_e,sph,eq/M_Sun/pc^2)', 'Concentration_Index',
       'avg_Rho_1kpc_Exact_All', 'r1_density_approx', 'log10(R10_kpc)',
       'logRho_R10_approx', 'log_rho10_Exact', 'log10(R90_kpc)',
       'logRho_R90_approx', 'log_rho_90_Exact_all', 'Rho_re_spatial',
       'SR_pc_All', 'Rho_SR_pc_All', 'CR_def1_approx_new',
       'Rho_cr_def1_approx_new', 'CR_def2_approx_new',
       'Rho_CR_def2_approx_new', 'Sr(pc)_2_using_Falserm_drho',
       'Log_Approx_Avg_density_10pc', 'log_Rho_e_Exact_new',
       'logRho_e_approx_New', 'logRho_soi_approx_new',
       'log_Rho_soi_exact_new', 'Avg_Rho_Re_Exact_all',
       'Avg_Rho_soi_exact_all', 'Avg_Rho_re_Exact_all', 'Rho_re_Exact_all',
       'Rho_r_soi_2BH_approx', 'Log_Avg_Rho_10kpc_approx',
       'Log_Avg_Rho_10kpc_exact_final', 'Log_Avg_Rho_100pc_approx',
       'Log_Avg_Rho_5kpc_approx', 'Log_Avg_rho_5kpc_exact_all', 'ube', 'bve',
       'dc', 'bvtc', 'bri25', 'mabs', 'blum', 'logblum', 'logSigma0sph',
       'LogSigma0', 'R10', 'logR10', 'logR10phi', 'Rh', 'logRh', 'logRhphi',
       'logHalo','B-V','V-[3.6]','GJC23W1-W2','GJC23W2-W3','GJC23log(M*,gal/M_sun)',
       'GJC23log(SFR)','GJC23log(sSFR)','M_BH']

In [18]:
easy_obs_para=['LogSigma0','Concentration_Index','logSigma0sph','log_sigma0','dc','logRhphi','M*_sph','ube','bri25','bve','bvtc','logR10phi','M*_gal','log_B/T',
 'logRh','log_n_sph_eq','blum','log_R_e_sph_maj','logblum','log_n_sph_maj','logR10','Pseudobulge','AGN','Multiple','Ring','BCG','Disk','cD',
 'Bar','Core','Compactness','ETG','T-type','M_BH','log10(R10_kpc)','log10(R90_kpc)','B-V','V-[3.6]','GJC23W1-W2','GJC23W2-W3','GJC23log(M*,gal/M_sun)','M_BH']

In [19]:
df_low_scatter=df[low_scatter_para]
df_easy_obs=df[easy_obs_para]

df_low_scatter=df_low_scatter.dropna()
df_easy_obs=df_easy_obs.dropna()

In [20]:
len(df_low_scatter),len(df_easy_obs)

(93, 93)